.list{
    height: 1200px;
    background-image: url(../img/首页背景.png);
    background-size: cover;
    background-attachment: fixed;
}
.list li{
    position: absolute;
    width: 450px;
    height: 350px;
    margin: 45px;
    border-radius: 8%;
    background-color: rgba(199, 228, 245, 0.4);
    transition: .5s;
    overflow: hidden;
}
.list .fl{
    left: 20px;
}
.list .fr{
    right: 20px;
}
.list{
    border-radius: 2%;
    box-shadow: 0 0 5px ;
}
.list li:hover{
    transform: scale(1.01,1.01);
    box-shadow: 5px 5px 5px 3px rgb(44, 45, 46);

}
.list li img{
    width: 100%;
}